spring:
  application:
    name: be-obs-sg

  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password: password
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true

  h2:
    console:
      enabled: true

  doc:
    api-docs:
      path: /v3/api-doc
    swagger-ui:
      path: /swagger-ui

  server:
    port: 8080

application-description: '@project.description@'
application-version: '@project.version@'
